 <!-- event create/update form template page -->
<form id="form-event-update" class="form-horizontal" role="form"> 
	<div class="form-group"> 
		<div for="event-name" class="col-md-4 control-label">Event Name</div>
		 <input required="true" id="event-name" name="event-name" placeholder="Event title" class="form-control input-md " type="text" value="{{event.name}}"> 
 	</div>
	<div class="form-group"> 
		<div for="event-description" class="col-md-4 control-label">Event Description</div>
		<textarea required="true" id="event-description" name="event-description" placeholder="Event description" class="form-control input-md "class="form-control" rows="3" minlength=15 >{{event.description}}</textarea>
 	</div>
 	 <div class="form-group"> 
 	 	<div for="event-start-dt" class="col-md-4 control-label">Event Start at</div> 
 	 		<input required="true" id="event-start-dt" name="event-start-dt" placeholder="Event Start date &amp; time" class="form-control input-md " type="text" value="{{event.start_datetime}}"> 
	</div>
	 <div class="form-group">
	 	 <div for="event-end-dt" class="col-md-4 control-label">Event End at</div> 
	 	 	<input required="true" id="event-end-dt" name="event-end-dt" placeholder="Event Start date &amp; time" class="form-control input-md " type="text" value="{{event.end_datetime}}"> 
 	 </div>
</form>